<app-navbar></app-navbar>

<h3>Service Client</h3>

<div class="container">
    <div class="row">
        <div class="card bg-light m-2">
            <div class="card-body">
                <p class="card-title h4">Chat service client</p>

                <div *ngFor="let post of posts$ | async" class="col-12 col-md-6 col-lg-6">
                    <span class="d-flex col-4 mb-3 m-1">
                        <div class="m-2">{{post.createdAt | date: 'dd/MM/yyyy'}}</div>
                        <div class="m-2">{{post.author}}</div>
                    </span>
                    <p class="card-text">{{post.content}}</p>
                </div>

            </div>
        </div>
    </div>
</div>