<app-navbar></app-navbar>

<h3>Service Client</h3>

<div class="container">
        <div class="card bg-light m-2">
            <div class="card-body">
                <p class="card-title h4">Chat service client</p>

                <!-- Messages list-->
                <div *ngFor="let post of posts$ | async" class="card-body messages"
                [ngClass]="post.author == 'Utilisateur' ? 'bg-success float-end col-12' : 'bg-info'">
                        <span class="d-flex col-4 mb-3 m-1">
                            <div class="m-2">{{post.createdAt | date: 'dd/MM/yyyy'}}</div>
                            <div class="m-2"><strong>{{post.author}}</strong></div>
                        </span>
                        <p class="card-text">{{post.content}}</p>

                </div>

                <!-- Send message form -->
                <form class="form-signin align-items-center text-center mt-3" [formGroup]="form" (ngSubmit)="submit()">

                    <textarea class="form-control" id="inputDescription" rows="10" placeholder="Contenu du message" formControlName="content">
                    </textarea>

                    <button class="btn btn-md btn-primary btn-block" type="submit" [disabled] = "form.invalid">Envoyer</button>
                </form>

            </div>
        </div>
</div>